@charset "utf-8";
/* athe 메인 페이지 CSS - main.css */

/*파일머징(합치기)*/
@import url(jquery.fullPage.css);
@import url(reset.css);
@import url(core.css);

@font-face {

    font-family: hs;
    src: url('../fonts/high_summit/High Summit.woff') format('woff'),
        url('../fonts/high_summit/High Summit.ttf') format('truetype');
}

@font-face {

    font-family: pd;
    src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.otf') format('truetype'),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff');
}

.section {
    width: 100vw;
    height: 100vh;
}

/*HOME영역******************************************/
.box {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 900px;
    height: 900px;
    margin-left: -16%;
    margin-top: -13%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.title {
    position: absolute;
    left: 6%;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: pd;
    letter-spacing: 15px;
    font-size: 1.75rem;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
    font-weight: bold;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*메뉴*/
nav {
    position: absolute;
    right: 32%;
    top: 30%;
    z-index: 10;
}

.lnb {
    display: flex;
    flex: 1;
}

.lnb a {
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: 2px;
    display: block;
    transition: .3s;
    transform: scale(1);
    font-family: pd;
}

.lnb a:hover {
    transform: scale(1.1);
}

.lnb li {
    margin-right: 10%;
}

/*스크롤아이콘***********/
.scrollIcon {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}

.scrollIcon span {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #1d1d1d;
    border-radius: 20px;
    position: relative;
}

.scrollIcon span:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #000000;
    margin-left: -3px;
    border-radius: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

.scrollIcon p {
    display: block;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 10px;
    font-size: 12px;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}


/*section5*/
.sec5 {
    position: relative;
}


/*ection h2공통*/
.section h2 {
    font-size: 2.75rem;
    color: #1C1C1C;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 10%;
    margin-top: -10%;
}

/*ABOUT 영역******************************/
/*디테일 클릭시 보이는 창*/
.lishow{
    display: none;
}
.lishow h4{
    margin-bottom: 15px;
    font-size: 1.5625rem;
    color: #4e4e4e;
}
.lishow p{
    line-height: 2;
    color: #707070;
    margin-bottom: 10px;
}

.about_area {
    display: flex;
    justify-content: space-between;
    height: 813px;
    width: 80%;
    margin: 0 auto;
}

.myphoto {
    background: url(../images/myphoto.jpg)no-repeat;
    background-size: cover;
}

.about_area li {
    width: 50%;
    margin-right: 80px;
}
.about_area li:last-child{
    margin-right: 0;
}
.about_area b {
    font-size: 3rem;
    letter-spacing: 6px;
}

.colorbar {
    width: 296px;
    height: 13px;
    background: linear-gradient(to right, #305CF1, #1E2E63);
    display: block;
    margin-top: 27px;
}

/*타이핑효과*/
.about_typing {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 30px 0 0 0;
    color: #707070;
}

/*detail화살표*/
.detail_btn {
    display: block;
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 21px;
    margin-top: 20px;
}

.detail_btn p {
    position: absolute;
    font-size: 20px;
    right: 80px;
    line-height: 21px;
    color: #707070;
    cursor: pointer;
    transition: all .4s ease-out;
}

.detail_btn:hover p {
    right: 15px;
}

.detail_btn img {
    position: absolute;
    left: 0;
    transition: all .4s ease-out;
}

.detail_btn:hover img {
    left: 100%;
}


.bottom {
    /*팝업으로 띄우기*/
    position: relative;
    right: -150%;
    /*    outline: 1px solid red;*/
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}


/*mbti버튼*************************************/
@-webkit-keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }

    100% {
        transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}

@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }

    100% {
        transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.show {
    display: block;
    position: absolute;
    top: 50%;
    left: 52%;
        margin-left: 2px;
}

.button {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: #305CF1;
    border: 2px solid #305CF1;
    font-size: 1.5rem;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;

}

.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    transition: none;
    transition: none;
}

.button:hover {
    background-color: #305CF1;
    color: #fff;
    border-bottom: 4px solid #305CF1;
}

.button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/*mbti그래프*****************/
.perbar {
    overflow: hidden;
    display: inline-block;
    width: 180px;
    height: 13px;
    border: 1px solid #555;
    border-radius: 10px;
    position: relative;
}

.perbar:after {
    content: "";
    background-color: #9DCEFE;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
}

.pert_box small {
    border: 1px solid #000;
    font-size: 10px;

}

.pert h3 {
        width: 87%;
    padding: 57px 0 20px 0;
    font-size: 1.8125rem;
    color: #707070;
    font-weight: normal;
    text-align: center;
}

.pert_box {
    /*    border: 1px solid #000;*/
    padding: 0 10%
}

.pert_box h4 {
    width: 150%;
    text-align: center;
    color: #4e4e4e;
}

.pert_box li{
    margin-right: 50px;
}
.mind,
.eng {
    width: 100%;
    /*    display: flex;*/
    /*    justify-content: space-between;*/
    position: relative;
}

.bar_txt {
    font-size: 10px;
    width: 30px;
}

.left_txt {
    position: absolute;
    left: -30%;
    top: 3px;
}

.right_txt {
    position: absolute;
    right: -102%;
    top: 3px;
    text-align: right;
}


/*에너지*/
.ebar:after {
    width: 51%;
}

/*본성*/
.hnbar:after {
    width: 65%;
}

/*전술*/
.tacbar:after {
    width: 76%;
    left: 0;
}

/*자아*/
.selfbar:after {
    width: 65%;
}

.pert_box > li > ul {
    margin-bottom: 20px;
}


/*mbti*/
.mbti {
    width: 50%;
    text-align: center;
}

.mbti h3,
.mbti b {
    font-size: 1.8125rem;
    color: #707070;
    padding: 57px 0 20px 0;
}

.mbti h3 {
    font-weight: normal;
}

.mbti b {
    font-weight: bold;
}

.mbti_img {
    width: 109%;
    height: 148px;
    background: url(../images/mbtiimg.png)no-repeat center;
}


.mbti_txt {
    padding-top: 6%;
        padding-left: 6%;
}

.mbti_txt li {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    color: #707070;
    font-size: 0.9375rem;
}

/*skill영역*******************************************************************/
#skill_wrap {
    display: flex;
    justify-content: center;

}

.left_wrap {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}

.skill_box {
    width: 530px;
    height: 69px;
    position: relative;
    margin-bottom: 15%;
    /*    outline: 1px solid #000;*/
}

.skill_box img {
    position: absolute;
    top: 0;
    left: 0;
}

.graph {
    /*    outline: 1px solid #000;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 443px;
    background-color: #F5F6F6;
    height: 30px;
    border-radius: 40px;
}

.graph span {
    display: block;
    width: 0%;
    opacity: 0;

}

.graph span.active {
    height: 30px;
    line-height: 30px;
    text-align: right;
    background-color: #9DCEFE;
    border-radius: 40px;
    padding: 0 10px;
    color: #fff;
    opacity: 1;

}


#bar1 span.active {
    width: 90%;
    animation: bar1 2s ease;

}

@keyframes bar1 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

#bar2 span.active {
    width: 30%;
    animation: bar2 2s ease;

}

@keyframes bar2 {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}


#bar3 span.active {
    width: 50%;
    animation: bar3 2s ease;
}

@keyframes bar3 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}


#bar4 span.active {
    width: 70%;
    animation: bar4 2s ease;

}

@keyframes bar4 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


#bar5 span.active {
    width: 40%;
    animation: bar5 2s ease;

}

@keyframes bar5 {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}


#bar6 span.active {
    width: 80%;
    animation: bar6 2s ease;

}

@keyframes bar6 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}





.skill_desc {
    display: block;
    position: absolute;
    bottom: 0;
    left: 94px;
    line-height: 120%;
    font-size: 0.9375rem;
    color: #707070;
}

/*자바스크립트텍스트*/
.jst {
    bottom: -10px;
}

/*제이쿼리텍스트*/
.jqt {
    bottom: -10px;
}

/*엑스디텍스트*/
.xdt {
    bottom: -10px;
}

.skill_title h3 {
    color: #A2A1A1;
    font-size: 2.1875rem;
    margin-bottom: 33px;
    font-weight: normal;
}

.skill_list ul {
    display: flex;
}

.skill_list ul li {
    margin-right: 70px;
}


/*portfolio영역****************************************/
.sec4 {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio_box {
    position: relative;
    width: 70%;
    height: 50%;
    background-color: #F5F6F6;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    /*    padding: 2% 6%;*/
}

.swiper-container {
    /*    outline: 1px solid red;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slidewr {
    width: 95%;
    height: 700px;
}


.slidewr .left {
    float: left;
    width: 70%;
    height: 100%;
}

.slidewr .left img {
    width: 76%;
    padding-left: 11%;
    padding-top: 11%;
}

.slidewr .right {
    float: left;
    width: 30%;
    height: 100%;
    text-align: right;
    position: relative;
    padding-top: 7%;
}

.slidewr .right .detailTxt_box {
    position: absolute;
    right: 30px;

}

/*디테일아이콘*/
.detailBtn_box {
    position: absolute;
    right: 7%;
    bottom: 14%;
}

.slidewr .right .tit {
    display: block;
    font-size: 24px;
    color: #777;
    text-transform: uppercase;
    line-height: 24px;
}

.slidewr .right a.project {
    display: block;
    font-size: 2.875rem;
    color: #3d3d3d;
    letter-spacing: -3px;
    font-weight: 500;
    line-height: 64px;
    padding: 30px 0;
    font-weight: bold;
}

.slidewr .right .desc {
    font-size: 2.06rem;
    color: #777;
    text-transform: uppercase;
    line-height: 24px;
}


/*컬러박스*/

.slidewr .right .color_box {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/*컬러공통*/
.slidewr .right .color_box span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 16px;
}

.slidewr .right .color_box span:last-child {
    margin-right: 0;
}

/*슬라이드1*/
.slidewr .right .point1 span.color1 {
    background: #FFDF50;
}

.slidewr .right .point1 span.color2 {
    background: #4FCBF7;
}

.slidewr .right .point1 span.color3 {
    background: #041F54;
}


/*슬라이드2*/
.slidewr .right .point2 span.color1 {
    background: #AF655A;
}

.slidewr .right .point2 span.color2 {
    background: #F0F1F1;
}

.slidewr .right .point2 span.color3 {
    background: #FEE5E1;
}



/*슬라이드3*/
.slidewr .right .point3 span.color1 {
    background: #9DCEFE;
}

.slidewr .right .point3 span.color2 {
    background: #fff;
}

.slidewr .right .point3 span.color3 {

    background: linear-gradient(to right, #305cf1 0%, #1e2e63 100%);


}

.slide3 .right .desc {
    font-size: 1.68rem;
}



/*슬라이드 블릿*/
.swiper-pagination {
    bottom: 2%;
    width: 100%;

}

.swiper-pagination span {
    margin-right: 12px;
}

.swiper-pagination span:last-child {
    margin-right: 0;
}



/*section5 영역**************************/
.cont_wrap {
    width: 90%;
    margin: 0 auto;
}

.cont_img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 469px;
    background: url(../images/contact_img.png)no-repeat;
    background-size: cover;
    font-size: 5.375rem;
    font-family: hs;
    margin-bottom: 5%;
}


.cont_img p{
    /*글씨 흐르게*/
    position: absolute;
    top: 50%;
    width: 100%;
    height: 86px;
    transform: translateY(-50%);
    text-align: center;
    animation: example1 20s linear infinite;
}



/* 움직이는 애니메이션 */

@keyframes example1 {
    0% {

        transform: translateX(100%);
    }

    100% {

        transform: translateX(-100%);
    }
}

.cont_img p:hover {
    animation-play-state: paused;
}

.cont_wrap ul {
    border-bottom: 1px solid #707070;
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: #707070;
    font-size: 1.4375rem;
    padding: 23px 0;

}

.cont_wrap ul li a {
    color: #707070;
}

/*빨간글씨*/
.redtxt {
    text-align: center;
    color: #FF0000;
    font-size: 0.9375rem;
}












/*스크롤탑아이콘*/
#btn_top {
    width: 80px;
    height: 80px;
    background: url(../images/btn_top.png)no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: -13px;
    cursor: pointer;

}

#btn_top:hover {
    animation: btntop 1s ease-in infinite;
}

@keyframes btntop {
    0% {
        bottom: -13px;
    }

    50% {
        bottom: 0;
    }
}
