@charset "utf-8";
/* athe 메인 페이지 CSS - main.css */

/*파일머징(합치기)*/
@import url(jquery.fullPage.css);
@import url(reset.css);
@import url(core.css);


@font-face {

    font-family: GT;
    src: url('../fonts/GT/GT.woff2') format('woff2');

}

@font-face {

    font-family: cafe24;
    src: url('../fonts/cafe24/Cafe24.ttf') format('truetype'),
        url('../fonts/cafe24/Cafe24.woff') format('woff');

}

@font-face {

    font-family: be;
    src: url('../fonts/be/BeVietnam.ttf') format('truetype'),
        url('../fonts/be/BeVietnam.woff') format('woff');

}



body {
    background-color: #f4f4f4;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 10%;

}

.logo img {
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 10px;
    width: 3vw;
}

.logo img:hover {
    opacity: .5;
}


.section {
    overflow: hidden;
}

/*ection h2공통*/

.section h2 {
    font-family: GT;
    font-size: 8vw;
    letter-spacing: 10px;
    text-align: center;
    margin: 3% 0;
    /* outline: 1px dashed blue; */
    position: absolute;
    right: -60%;
    top: -6%;
    color: #ddd;
}

/*모바일일때 메뉴*/
.menu {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    display: none;

}

.menu img {
    width: 5vw;
}

/*모바일일때 팝업*/
.menu_pop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.55);
}

.menu_list {
    /*    display: none;*/
    position: relative;
    /*    outline: 1px dashed blue;*/
    width: 70vw;
    height: 100vh;
    left: 170%;
    background-color: rgb(157, 153, 153);

}

.menu_list ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    /*    outline: 1px dashed blue;*/

}

.menu_list li {
    text-align: left;
    margin-bottom: 20%;
    padding-left: 20%;
}

.menu_list ul li a {
    color: #fff;
    font-size: 7vw;
    letter-spacing: 5px;
    font-family: GT;
    font-weight: bold;
}

/*닫기버튼*/
.m_cbtn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 7vw;
    color: #fff;
    z-index: 10;

}




/*홈 영역******************************************/

/*모바일일때 그림*/
.home_wrap{
    width: 100vw;
    height: 100vh;
    outline: 1px dashed blue;
}
.m_pic{
    display: none;
     position: absolute;
        top:37vh;
    width: 50%;
    height: 239px;
/*    outline: 1px dashed blue;*/
}

    .m_pic img {
        width: 70%;
    }


.tit_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 15.5vw;
    font-weight: 300;
    line-height: .77;
    font-family: GT;
    cursor: default;
}

/*타이틀왼쪽에나가있기 셋팅*/
.toptit {
    position: absolute;
    top: -90%;
    left: 50%;
    transform: translateX(-50%);

}

.bottomtit {
    position: absolute;
    bottom: -50%;
    left: 0;
    white-space: nowrap;
    font-size: 13.5vw;
}



/*동그라미애니메이션*/
.double-circles {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 40px;
}


/*오른쪽동그라미*/
.double-circles.animate .circle--1 {
    animation-name: animate-right;
}

/*왼쪽동그라미*/
.double-circles.animate .circle--2 {
    animation-name: animate-left;
}

.double-circles.animate .circle {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animate-right {
    0% {
        transform: translatex(0)
    }

    50% {
        transform: translatex(10px)
    }

    100% {
        transform: translatex(0px)
    }
}

@keyframes animate-left {
    0% {
        transform: translatex(0)
    }

    50% {
        transform: translatex(-10px)
    }

    100% {
        transform: translatex(0px)
    }
}


/*네비*/

nav {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.12vw;
    text-align: center;
    overflow: hidden;
}

nav ul {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

nav ul li {
    float: left;
    width: 16.66%;

}

nav ul li a {
    position: relative;
    letter-spacing: 2px;
    display: inline-block;
    transition: .3s;


}

nav ul li a::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 15px;
    background: rgba(196, 80, 80, 0.53);
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
}

/*메뉴오버했을때 밑줄 나오게하기*/
nav li a:hover::after {
    width: 100%;
}


/*별모양회전*/
.icon_star {
    position: absolute;
    left: 66%;
    bottom: 50%;

}

.icon_star svg {
    animation: rotate 6s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

/*어바웃 영역******************************/
#about_wrap {
    width: 100vw;
    height: 100vh;

}

.about_inbox {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mypic {

    position: relative;
    padding-top: 2%;
    opacity: 0;
    margin-bottom: 1%;

}

.plusbtn {
    position: relative;
    top: 0;
    left: 7px;
    border: 1px solid rgba(196, 80, 80, 0.62);
    border-radius: 50%;
    padding: 10px;
    font-size: 1vw;
    color: rgba(196, 80, 80, 0.62);
    animation: btnmove .90s infinite ease-in-out;
}

.plusbtn:hover {
    background-color: rgba(196, 80, 80, 0.62);
    border: 1px solid rgba(196, 80, 80, 0);
    color: #fff;
}

@keyframes btnmove {
    50% {
        top: 10px;
    }
}




.infotit {
    /* display: none; */
    position: absolute;
    color: #6a6a6a;
    top: 75%;
    font-size: 4vw;
    font-family: GT;
    left: 27%;
}

/*그림클릭시 나타나는 인포*/
.infobox {
    position: absolute;
    right: 26%;
    opacity: 0;
    text-align: left;
    font-family: cafe24;
    letter-spacing: 1.5px;
    /*    outline: 1px dashed blue;*/
    width: 20vw;
    height: 18vh;
}

.infobox h4 {
    font-size: 2vmin;
    padding-bottom: 0.2vh;
    padding-top: 1.2vh;

}

.minfo_img {
    /*        display: none;*/
    text-align: center;
}

.mypic img {
    width: 6vw;
}

.mypic::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    width: 30vw;
    height: 5px;
    border-radius: 50%;
    background-color: #6a6a6a;
}

.atit {
    text-align: center;
    font-family: cafe24;
    font-size: 3vw;
    line-height: 1.5;
}

/*큰따옴표*/
.atit b {
    font-family: be;
    color: #c45050;
    filter: FlipH;
}

/*작은글씨*/
.atit small {
    display: inline-block;
    font-size: 1.5vw;
    opacity: 0;
}

/*해낸타이틀 보이기 셋팅*/
.topshow {
    opacity: 0;
}

/*프론트엔드~*/
.info {
    text-align: center;
    font-size: 1vw;
    letter-spacing: 6px;
    font-style: italic;
    margin-top: 4%;
}

.info i {
    font-weight: normal;
    font-family: cafe24;
    opacity: 0;
    font-size: 2vw;
}

/*인포설명글*/
.info_tit {
    font-family: cafe24;
    font-style: normal;
    padding-top: 1%;
    white-space: wrap;
    margin: 0 auto;
    width: 50%;
    line-height: 2;
    opacity: 0;
}

.info_tit b {
    display: inline-block;
    padding-top: 2%;
    position: relative;

}

.aboutline {
    position: absolute;
    left: 0;
    bottom: 1vh;
    width: 0;
    height: 1vh;
    border-radius: 5px;
    background-color: rgba(196, 80, 80, 0.62);
    z-index: -1;
}


/*모바일일때 설명글*/
.info_tit_m {
    display: none;
    font-family: cafe24;
    font-style: normal;
    padding-top: 1%;
    white-space: wrap;
    margin: 0 auto;
    width: 92%;
    line-height: 2;
    opacity: 0;
    font-size: 3.59vw;
}

/*스킬 영역*******************************************************************/
.skill_wrap {
    width: 100%;
    height: 100vh;
}

#skill_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*    outline: 1px dashed blue;*/
}



.left_wrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 5vw;
    opacity: 0;
}

.right_wrap {
    align-self: center;
    opacity: 0;
}

.skill_box {
    width: 530px;
    height: 69px;
    position: relative;
    margin-bottom: 15%;
    /*    outline: 1px solid #000;*/
}

.skill_box img {
    position: absolute;
    top: 0;
    left: 0;
}

.graph {
    /*    outline: 1px solid #000;*/
    position: absolute;
    top: 0;
    right: 0;
    width: 443px;
    background-color: #ddd;
    height: 25px;
    border-radius: 40px;
}

.graph span {
    display: block;
    display: block;
    width: 0%;
    opacity: 0;

}

.graph span.active {
    height: 25px;
    line-height: 25px;
    text-align: right;
    background-color: rgb(186, 184, 184);
    border-radius: 40px;
    padding: 0 10px;
    color: #fff;
    opacity: 1;

}


#bar1 span.active {
    width: 90%;
    animation: bar1 2s ease;

}

@keyframes bar1 {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

#bar2 span.active {
    width: 30%;
    animation: bar2 2s ease;

}

@keyframes bar2 {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}


#bar3 span.active {
    width: 50%;
    animation: bar3 2s ease;
}

@keyframes bar3 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}


#bar4 span.active {
    width: 70%;
    animation: bar4 2s ease;

}

@keyframes bar4 {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}


#bar5 span.active {
    width: 40%;
    animation: bar5 2s ease;

}

@keyframes bar5 {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}


#bar6 span.active {
    width: 80%;
    animation: bar6 2s ease;

}

@keyframes bar6 {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}





.skill_desc {
    display: block;
    position: absolute;
    bottom: 0;
    left: 94px;
    font-size: 1vw;
    color: #707070;
    font-family: cafe24;
    height: 50%;
}


.skill_title h3 {
    color: #A2A1A1;
    font-size: 2vw;
    margin-bottom: 33px;
    font-weight: normal;
    font-family: cafe24;
}

.skill_list ul {
    display: flex;
}

.skill_list ul li {
    margin-right: 70px;
}

.skill_list ul li:hover {
    transform: scale(1.5);
}

.right_sub {
    opacity: 0;
}

/*포트폴리오 영역****************************************/
.port_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}



.portfolio_box {
    position: relative;
    width: 50vw;
    height: 50vh;
    background-color: #ffffff;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    /* padding: 2% 6%; */
}

.swiper-container {
    /*    outline: 1px solid red;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slidewr {
    width: 100vw;
    height: 100vh;
    outline: 1 dashed blue;
}


.slidewr .left {
    float: left;
    width: 50%;
    height: 100%;

}

.slidewr .left img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32vw;
    opacity: 0;
}


.detailTxt_box {
    position: absolute;
    top: 26%;
    left: 43%;
    z-index: 10;
    opacity: 0;
}


.dtxt_box {
    line-height: 1.3;
}

.slidewr .left .tit {
    display: block;
    font-size: 3vmin;
    color: #777;
    text-transform: uppercase;
    font-family: cafe24;
}

.slidewr .left a.project {
    display: block;
    font-size: 1.6vw;
    color: #3d3d3d;
    letter-spacing: 5px;
    font-weight: 500;
    font-weight: bold;
    font-family: cafe24;
}

.slidewr .left .desc {
    font-size: 1.5vw;
    color: #777;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: cafe24;
}


/*컬러박스*/

.sitetxt .color_box {
    display: flex;
}

/*컬러공통*/
.sitetxt .color_box span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 16px;
}

.sitetxt .color_box span:last-child {
    margin-right: 0;
}

.sitetxt p b {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 2vw;
    color: #767676;
}



/*슬라이드1*/
.sitetxt .point1 span.color1 {
    background: #FFDF50;
}

.sitetxt .point1 span.color2 {
    background: #4FCBF7;
}

.sitetxt .point1 span.color3 {
    background: #041F54;
}


/*슬라이드2*/
.sitetxt .point2 span.color1 {
    background: #AF655A;
}

.sitetxt .point2 span.color2 {
    background: #F0F1F1;
}

.sitetxt .point2 span.color3 {
    background: #FEE5E1;
}



/*슬라이드3*/
.sitetxt .point3 span.color1 {
    background: #f4f4f4;
}

.sitetxt .point3 span.color2 {
    background: rgba(196, 80, 80, 0.62);
}

.sitetxt .point3 span.color3 {

    background: #ddd;
}

/*슬라이드4*/
.sitetxt .point4 span.color1 {
    background: #9DCEFE;
}

.sitetxt .point4 span.color2 {
    background: #fff;
}

.sitetxt .point4 span.color3 {

    background: linear-gradient(to right, #305cf1 0%, #1e2e63 100%);
}


/*오른쪽*/
.slidewr .right {
    float: left;
    width: 50vw;
    height: 100vh;
    text-align: left;
}

/*사이트설명*/
.sitetxt {
    position: relative;
    margin-top: 3%;
    width: 54vw;
    height: 19vh;
    padding: 3% 4% 3% 4%;
    height: 25vh;
    /* outline: 1px dashed blue; */
    background-color: rgba(95, 158, 160, 0.15);
    border-radius: 20px;
}

.port_wrap > big {
    opacity: .3;
    text-align: right;
    position: absolute;
    z-index: -1;
    top: 20%;
    right: -95%;
    font-size: 7vw;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(198, 198, 198);
    line-height: 1;
    font-family: be;
}


.sitetxt p {
    font-family: cafe24;
    font-size: 1.8vmin;
    line-height: 2;
    letter-spacing: 2px;

}

.sitetxt p span {
    position: relative;

}

.sitetxt p span::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 5%;
    width: 100%;
    height: .8vh;
    background-color: rgba(196, 80, 80, 0.62);
}

/*사이트보기 버튼*/
.detail_btn {
    position: absolute;
    bottom: 6%;
    right: 6%;
    display: inline-block;
    padding: 10px;
    font-size: 2vmin;
    border: 1px solid #333;
    color: #333;
    font-family: cafe24;
    font-weight: normal;
    text-align: center;
    width: 6vw;
    height: 2vh;
    letter-spacing: 2px;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);

}


.detail_btn::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #333;
    color: #fff;
    top: 0;
    right: 0;
    z-index: -1;
    color: #000;
    width: 0;
    height: 100%;
    transition: all .9s ease;


}

.detail_btn:hover {
    color: #fff;
    background-color: transparent;

}

.detail_btn:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}





/*슬라이드 이동버튼*/
.prevt {
    /*    outline: 1px dashed blue;*/
    text-align: center;
    font-size: 12vw;
    color: #ddd;
    line-height: .5;
    font-family: GT;

}

.nextt {
    /*    outline: 1px dashed blue;*/
    text-align: center;
    font-size: 12vw;
    color: #ddd;
    line-height: .5;
    font-family: GT;
}


/*공동 프로젝트 영역***************************/
.joint_wrap{
        outline: 1px dashed blue;
    width: 100%;
    height: 100vh;
    position: relative;
}
.joint_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
/*  outline: 1px dashed blue;*/
    width: 100%;
    height: 100vh;
}
.joint_left_wrap{
    width: 38%;
/*    outline: 1px dashed blue;*/
    transition: all .3s ease-out;
    position: relative;
}
.left_pj{
/*    outline: 2px solid red;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25vw;
    height: 50vh;
    background: url(../images/joint1.png)no-repeat;
    background-size: cover;

}
.joint_right_wrap{
    width: 60%;
}
.joint_right_wrap ul{
/*    outline: 1px dashed blue;*/
    margin: 0 3%;
}
.joint_right_wrap ul li{
   padding-top: 2.2vw;
    padding-bottom: 1.8vw;
    font-family: cafe24;
    position: relative;
    
}


.joint_right_wrap ul li a{
    font-size: 2.5vw;
    color: #555;
    opacity: .35;
    letter-spacing: 3px;
}
.joint_right_wrap ul li::after{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    background-color: #ddd;
    bottom: 0;
    width: 100%;
    left: 0;
}
.joint_right_wrap ul li sup{
    padding-left: 10px;
    color: #773d3d;
    font-family: GT;
    letter-spacing: 2px;
    font-size: .8vw;
    opacity: 0;
}
.joint_right_wrap ul li span{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: GT;
    font-size: 1vw;
    
}
.joint_right_wrap ul li i{
    font-style: normal;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-family: GT;
    font-size: 1vw;
    letter-spacing: 1.5px;
}
.joint_right_wrap ul li small {
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    bottom: -21%;
    transform: translateY(-50%);
    font-family: GT;
    font-size: 2vw;
    color: #b4b4b4;
    
}
.joint_right_wrap ul li big{
    font-size: 1vw;

}
.joint_right_wrap ul li:hover a{
    opacity: 1;
    transition: opacity .6s ease-in-out;
    
}



/*컨텍트 영역**************************/
.cont_wrap {
    width: 100%;
    /*    outline: 1px solid #000;*/
    position: relative;
    height: 100vh;


}

.cont_box {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.cont_img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 43vh;
    background: url(../images/contact_img.png)no-repeat;
    background-size: cover;
    left: 0;
    line-height: 469px;
    opacity: 0;

}

.ctxt {
    /*    outline: 5px dashed blue;*/
    position: absolute;
    display: flex;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 400%;
    text-align: center;
    font-size: 5vw;
    white-space: nowrap;
    animation: example1 20s linear infinite;
}

.cont_img span {
    /*    background-color: #fff;*/
    letter-spacing: 10px;
    right: 100%;
    float: left;
    width: 100%;
    white-space: nowrap;
    margin-right: 1%;
    opacity: .7;
    font-family: GT;
    font-size: 3vw;
    font-weight: normal;

}



/* 움직이는 애니메이션 */

@keyframes example1 {
    0 {
        left: 0;

    }

    100% {
        left: -100%;
    }
}

.cleft_wrap {
    padding-left: 1vw;
}

.cont_wrap ul {
    border-bottom: 1px solid #707070;
    width: 20%;
    display: flex;
    justify-content: space-between;
    color: #707070;
    font-size: 1.5vmin;
    padding: 2.5vh 0;
    font-weight: normal;
    letter-spacing: 2px;
    opacity: 0;
}

.cont_wrap ul li a {
    color: #707070;
}

/*타이핑 텍스트*/
.redtxt {
    text-align: center;
    color: #333;
    font-size: 1vw;
    font-family: cafe24;
    display: none;
}



/*호버시 형광펜*/
.half_line {
    position: relative;
}

.half_line::after {
    content: '';
    display: block;
    width: 0;
    height: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(196, 80, 80, 0.24);
    transition: .5s;
    z-index: -1;
}

.half_line:hover::after {
    width: 100%;
}


/*이력서다운로드 버튼*/
.dbtn {
    margin-top: 2%;
    font-family: cafe24;
    opacity: 0;
}

.cta {
    position: relative;
    display: inline-block;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;


}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(196, 80, 80, 0.24);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 1.4vmin;

    font-weight: 900;
    letter-spacing: .25em;

}


.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: rgba(196, 80, 80, 0.44);
}

.cta:hover svg {
    transform: translateX(0);
}





/*스크롤탑아이콘*/

#btn_top {
    font-size: 10vw;
    position: absolute;
opacity: 0;
    right: 0;
    bottom: -6%;
    cursor: pointer;
    color: rgba(208, 208, 208, 0.76);
    font-family: GT;
}

#btn_top:hover {
    animation: btntop 1.4s ease-in infinite;
}

@keyframes btntop {
    50% {
        bottom: -3%;
    }
}


/*공지*/
.notice{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    font-family: cafe24;
    font-size: 1vw;
    color: #7c7979;
}
