/*메인 미디어쿼리 - media.css*/


/*피시*/
@media only screen and (max-width: 1980px) {

    /*홈영역***************/
    nav ul li a::after {
        height: 10px;
    }

    /*어바웃영역*******/
    .infobox {
        top: 4%;
        width: 24vw;
        right: 22%;
    }
    



    /*컨텍트영역**************/
    #btn_top {
        font-size: 8vw;
        bottom: -4%;
    }

    /*이력서다운버튼*/
    .dbtn {
        margin-top: 1%;
    }




}

@media only screen and (max-width: 1700px) {

    /*홈영역************/
    .logo img {
        width: 4vw;
    }

    /*어바웃영역*******/

    .infobox {
width: 28vw;
    right: 18%;
        top: -7%;
    }
    
      .aboutline {
        height: .7vh;
        bottom: 7px;
    }


    /*스킬영역************/
    .skill_desc {
        font-size: 1.2vw;
    }

    .skill_title h3 {
        font-size: 2.5vw;
    }

    /*포트폴리오영역***********/
    .detailTxt_box {
        top: 30%;
    }

    .sitetxt {
        margin-top: -3%;
    }
    

        /*공동프로젝트영역**********/

    .joint_wrap ul li i, .joint_wrap ul li span{
    font-size: 1.2vw;
}
    .left_pj{
        width: 47vmin;
    }


    /*컨텍트영역*************/
    #btn_top {
        bottom: -3%;
    }

}

@media only screen and (max-width: 1500px) {


    /*어바웃영역********/
    .atit {
        margin-bottom: 3%;
    }

    .infobox {

        top: -24%;
    }



  
 

    /*포트폴리오영역**********/
    .sitetxt {
        height: 28vh;
    }

    .detail_btn {
        width: 8vw;
    }
    


    /*컨텍트영역*************/
    .cont_img {
        height: 40vh;
    }

    .cont_wrap ul {
        width: 30%;
    }


}





/*아이패드프로*/
@media only screen and (max-width: 1024px) {

    /*홈영역*/
    nav {
        font-size: 2vw;
    }


      /*공통타이이틀*/
    .section h2 {
    top: -2.5%;
}

    .bottomtit {
        padding-bottom: 14%;
    }

    /*어바웃영역********/
    .atit {
        font-size: 6vw;
    }

    .atit small {
        font-size: 2.5vw;
    }

    /*클릭버튼*/
    .plusbtn {
        font-size: 2vw;
    }

    .info i {
        font-size: 3vw;
    }

    .mypic img {
        width: 10vw;
    }

    .infotit {
        top: 80%;
        font-size: 5vw;
        left: 22%;
    }

    .info_tit {
        width: 79%;
        font-size: 2vw;
    }

    .mypic::before {
        width: 56vw;
        height: 3px;
    }

    .infobox {
        right: 15%;
        width: 28vw;
    }


    /*스킬영역**********/
    .skill_box {
        width: 400px;

    }

    .skill_desc {
        font-size: 1.9vw;
    }

    .graph {
        width: 310px;
        height: 2vh;

    }

    .graph span.active {
        height: 2vh;
        line-height: 2vh;

    }

    .skill_title h3 {
        /*스터딩*/
        font-size: 4vw;

    }

    .skill_list ul li img {
        width: 5vw;
    }

    /*포트폴리오 영역*************/
    .slidewr .left {
        float: none;
        width: 100%;
    }

    .slidewr .left img {
        top: 30%;
        width: 50vw;
    }


    /*뒷배경글씨*/
    .port_wrap > big {
        top: 39%;
        font-size: 10vw;
        opacity: .1;
    }

    /*민트색배경색*/
    .sitetxt {
        width: 78vw;
        height: 21vh;
    }

    .sitetxt p {
        font-size: 1.8vmin;
    }

    .sitetxt p b {
        font-size: 3vw;
    }

    .detailTxt_box {
        top: 37%;
        left: 50%;
        transform: translateX(-50%);
    }

    .slidewr .left .tit {
        font-size: 4vmin;
    }

    .slidewr .left a.project {
        font-size: 2.6vw;
    }

    .slidewr .left .desc {
        font-size: 2.5vw;
    }

    /*슬라이드양쪽버튼글씨*/
    .swiper-button-prev,
    .swiper-button-next {
        top: 97vh;
    }

    /*뷰사이트보기*/
    .detail_btn {
        width: 11vw;
        height: 1.5vh;
        line-height: 1.5vh;
    }
    
    
    /*공동프로젝트영역***********************/
    .joint_box{
        flex-direction: column;
        top: 45%;
    }
    .joint_left_wrap {
    height: 30vh;
}
    .left_pj {
    width: 100%;
    height: 100%;
}
    
    .joint_right_wrap {
    width: 90vw;
}
    
    .joint_wrap ul li {
    padding-top: 3.2vw;
    padding-bottom: 2.8vw;
}
    .joint_wrap ul li a {
    font-size: 3.5vw;
        opacity: .7;
}
    .joint_wrap ul li sup{
        opacity: 1;
    }
    .joint_wrap ul li i, .joint_wrap ul li span {
    font-size: 1.3vw;
}
    .joint_wrap ul li small {
    bottom: -21%;
    font-size: 3vw;
}
    

    /*컨텍트영역*************/

    .cont_wrap ul {
        margin: 1% auto 0 auto;
        width: 45%;
    }

    .cont_img {
        height: 18vh;
    }

    /*스크롤탑*/
    #btn_top {
        font-size: 22vw;
        animation: none;
        bottom: 4%;
    }

    /*이력서다운받기 버튼*/
    .cta {
        left: 28%;
    }
    
        .cta::before {
        width: 40px;
        height: 40px;
        top: 11px;
    }

    .cta:hover:before {
        width: 40px;
        height: 40px;
        background: rgba(196, 80, 80, 0.24);
    }


    /*타이핑텍스트*/
    .redtxt {
        position: absolute;
        bottom: 23%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
        font-size: 2vw;
    }
    
    .notice {
    left: 97%;
    bottom: 23%;
    writing-mode: vertical-lr;
    font-size: 1.8vw;
}



}

/*태블릿-아이패드*/
@media only screen and (max-width:820px) {


    /*홈영역*/
    .logo img {
        width: 5vw;
    }

    .tit_wrap {
        height: 102vh;
    }

    .bottomtit {
        padding-bottom: 6%;
    }

    /*어바웃영역************/

    .info_tit {
        width: 82%;
        font-size: 2vw;
        letter-spacing: 2px;
    }

    .infobox p {
        font-size: 1.5vw;
    }

    /*스킬영역**********/
    #skill_wrap {
        flex-direction: column;
        justify-content: center;
    }

    .skill_box {
        height: 6vh;
        margin-bottom: 10%;
    }

    .skill_desc {
        font-size: 2vw;
    }

    .left_wrap {
        padding-right: 0;
    }

    .right_wrap {
        display: flex;
        flex-direction: column;
    }

    .skill_title h3 {
        font-size: 5vw;
        margin-bottom: 5%;
    }

    .skill_list ul li img {
        width: 7vw;
    }

    /*포트폴리오 영역**********/
    .sitetxt {
        height: 23vh;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 96%;
    }
    
    /*공동프로젝트영역*****************/
    .joint_box {
height: 80vh;
    top: 50%;
}
    
    
    .joint_wrap ul li i, .joint_wrap ul li span {
    font-size: 1.7vw;
}
    .joint_wrap ul li sup{
        padding-left: 5px;
    }


    /*컨텍트영역****************/
    #btn_top {
        bottom: -4%;
    }




}

/*모바일-아이폰X*/
@media only screen and (max-width:480px) {
    #fp-nav {
        display: none;
    }

    /*타이틀공통*/
    .section h2 {
        top: -1%;
        font-size: 6.5vw;
    }


    /*홈영역*******************************/
    .logo img {
        width: 8vw;
    }

    .icon_star svg {
        width: 2vw;
    }

    .double-circles {
        width: 8vw;
    }

    .tit_wrap {
        height: 13vh;
        top: 35%;
    }
    
    /*퍼블리셔 큰 글씨 위치이동*/
    .bottomtit {
    padding-bottom: 0;
}

    /*오른쪽 동그라미 애미네이션*/
    .double-circles {
        display: none;
    }

    /*메뉴바*/
    .menu {
        display: block;


    }

    /*메뉴없애기*/
    nav {
        display: none;

    }

    .m_pic {
        display: block;
    }



    /*어바웃영역************/
    
    .info_tit_m {
        display: block;
    }


    /*어바웃 타이틀*/
    .about_tit {
        padding-right: 30vw;
    }

    .about_inbox {
        top: 33%;
    }

    .atit {
        font-size: 9vw;
        margin-bottom: 0;
    }

    .atit small {
        font-size: 4vw;
    }

    .info_tit {
        display: none;
    }

    .infotit {
        display: none;
    }

    .minfo_img {
        display: none;
    }

    .mypic::before {
        display: none;
    }

    .mypic img {
        width: 15vw;
        margin-left: 23%;
    }

    .info {
        letter-spacing: 2px;
        margin-top: -3%;
    }

    .info i {
        font-size: 4.5vw;
    }


    .plusbtn {
        z-index: 10;
        display: block;
        left: 88%;
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 6vw;
        padding: 5px;
        display: none;

    }



    /*클릭버튼 클릭시 나오는 창*/
    .infobox {
        text-align: left;
        letter-spacing: 1px;
        right: 7%;
        width: 89vw;
        top: 22vh;
        height: 29vh;
        opacity: 1;
        /*        outline: 1px dashed blue;*/
    }

    .infobox h4 {
        font-size: 5vmin;
            padding-top: 4vh;
    }

    .infobox p {
        font-size: 3.5vw;
        padding-top: 1%;
    }

    /*스킬영역*************/
    /*스킬타이틀*/
    .skill_tit {
        padding-right: 31vw;
    }

    .skill_box {
        width: 290px;
        height: 5vh;
    }

    .graph {
        width: 200px;
        font-size: 10px;
    }

    .skill_desc {
        font-size: 3.3vw;
    }

    .skill_box img {
        width: 15%;
    }

    .skill_list ul li {
        margin-right: 20px;
    }

    .skill_list ul li img {
        width: 10vw;
    }

    .skill_title h3 {
        font-size: 7vw;
    }

    .left_wrap {
        margin-top: 10%;
    }




    /*포트폴리오영역*************/
    /*포트폴리오 타이틀*/
    .portfolio_tit {
        padding-right: 19vw;
    }

    .port_wrap > big {
        font-size: 12vw;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: rgb(198, 198, 198);
    }

    .slidewr .left img {
        width: 65vw;
    }

    .slidewr .left .tit {
        font-size: 5vmin;
        letter-spacing: 1px;
    }

    .slidewr .left a.project {
        font-size: 4.6vw;
    }

    .slidewr .left .desc {
        font-size: 3.5vw;
    }

    .sitetxt {
        width: 95vw;
        height: 85vmin;
        padding: 5% 4% 3% 4%;
    }

    .sitetxt .color_box span {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .sitetxt p {
        font-size: 4vmin;
        letter-spacing: 1px;
    }

    .sitetxt p b {
        font-size: 5vw;
    }

    .detail_btn {
        width: 60px;
        height: 10px;
        line-height: 10px;
        background: #5c5c5c;
        color: #fff;
        border: 0;
        font-size: 4vmin;
        letter-spacing: 1px;
        bottom: 3%;
    }
    
    
    /*공동프로젝트영역*********************/
    .joint_tit{
        padding-right: 8%;
        
        
    }
    .joint_left_wrap {
        position: absolute;
        top: 10%;
    width: 50%;
}
    
    .joint_right_wrap {
    width: 95vw;
        position: absolute;
        bottom: 0;
}
    .joint_box {
    height: 100vh;
}
    
    .joint_wrap ul li {
    padding-top: 6.2vw;
    padding-bottom: 5.8vw;
    
}
    .joint_wrap ul li a {
    font-size: 6vw;
    letter-spacing: 1px;
}
    .joint_wrap ul li i, .joint_wrap ul li span {
    font-size: 2.9vw;
        
}
    .joint_wrap ul li i{
        right: 34%;
    }
    .joint_wrap ul li sup{
        display: none;
    }
    .joint_wrap ul li small {
    bottom: -15%;
    font-size: 4vw;
}
    .joint_right_wrap ul li big {
    font-size: 1.5vw;
}
    
    .joint_wrap ul li::after {
    height: 1px;
}
 

    /*컨텍트영역*************************/
    /*컨텐트 타이틀*/
    .contact_tit {
        padding-right: 21%;
    }

    .cont_img {
        height: 100px;
        margin-bottom: 5%;
    }

    .cont_img span {
        font-size: 5vw;
    }

    .cont_wrap ul {
        width: 50%;
        margin: 0 auto;
    }

    .cont_img p {
        font-size: 22px;
    }

    .cont_wrap ul {
        font-size: 12px;
        width: 70%;
    }

    /*타이핑*/
    .redtxt {
        font-size: 3.2vw;
        bottom: 17%;
    }

    .cta {
        left: 48%;
    }

    .cta span {
        font-size: 12px;
    }

    .cta::before {
        width: 35px;
        height: 35px;
    }

    .cta:hover:before {
        width: 35px;
        height: 35px;
    }

    .cta svg {
        transform: translate(-5px, 1px);
    }

    #btn_top {
        font-size: 20vw;
        bottom: -3%;
        right: -1%;
    }


.notice {
    left: 95%;
    bottom: 10%;
    writing-mode: vertical-lr;
    font-size: 3.8vw;
}













}
