/*메인 미디어쿼리 - media.css*/

/*피시*/
@media only screen and (max-width: 1980px) {

    /*어바웃영역*******/
    .infobox {
        top: 4%;
    }


    /*컨텍트영역**************/
    #btn_top {
        font-size: 8vw;
        bottom: -4%;
    }




}

@media only screen and (max-width: 1700px) {

    /*홈영역************/
    header svg {
        width: 4vw;
    }

    /*어바웃영역*******/

    .infobox {
       
        top: -11%;
    }

    /*스킬영역************/
    .skill_desc {
        font-size: 1.5vw;
    }

    .skill_title h3 {
        font-size: 2.5vw;
    }

    /*포트폴리오영역***********/
    .detailTxt_box {
        top: 30%;
    }

    .sitetxt {
        margin-top: -3%;
    }

    /*컨텍트영역*************/
    #btn_top {
        bottom: -3%;
    }

}

@media only screen and (max-width: 1500px) {


    /*어바웃영역********/
    .atit {
        margin-bottom: 3%;
    }

    .infobox {
      
        top: -24%;
    }

    .info_tit b::before {
        height: .5vh;
    }

    .info_tit b::before {
        bottom: 18%;
    }

    /*포트폴리오영역**********/
    .sitetxt {
        height: 27vh;
    }

    .detail_btn {
        width: 8vw;
    }

    /*컨텍트영역*************/
    .cont_wrap ul {
        width: 30%;
    }


}





/*아이패드프로*/
@media only screen and (max-width: 1024px) {

    /*홈영역*/
    nav {
        font-size: 2vw;
    }

 
    .section h2 {
        top: -3%;
    }

    /*어바웃영역********/
    .atit {
        font-size: 6vw;
    }

    .atit small {
        font-size: 2.5vw;
    }

    /*클릭버튼*/
    .plusbtn {
        font-size: 2vw;
    }

    .info i {
        font-size: 3vw;
    }

    .mypic img {
        width: 10vw;
    }

    .infotit {
        top: 80%;
        font-size: 5vw;
        left: 22%;
    }

    .info_tit {
        width: 79%;
        font-size: 2vw;
    }

    .mypic::before {
        width: 56vw;
        height: 3px;
    }
    .infobox{
        right: 15%;
        width: 28vw;
    }


    /*스킬영역**********/
    .skill_box {
        width: 400px;

    }

    .graph {
        width: 310px;
        height: 2vh;

    }

    .graph span.active {
        height: 2vh;
        line-height: 2vh;

    }

    .skill_title h3 {
        /*스터딩*/
        font-size: 3vw;

    }

    .skill_list ul li img {
        width: 5vw;
    }

    /*포트폴리오 영역*************/
    .slidewr .left {
        float: none;
        width: 100%;
    }

    .slidewr .left img {
        top: 30%;
        width: 50vw;
    }


    /*뒷배경글씨*/
    .port_wrap > big {
        top: 39%;
        font-size: 10vw;
    }

    /*민트색배경색*/
    .sitetxt {
        width: 78vw;
        height: 18vh;
    }

    .sitetxt p {
        font-size: 1.58vmin;
    }

    .detailTxt_box {
        top: 37%;
        left: 50%;
        transform: translateX(-50%);
    }
    .slidewr .left .tit {
    font-size: 4vmin;
}

    /*슬라이드양쪽버튼글씨*/
    .swiper-button-prev,
    .swiper-button-next {
        top: 88%;
    }
/*뷰사이트보기*/
    .detail_btn {
        width: 11vw;
        height: 1.5vh;
    }

    /*컨텍트영역*************/
    .cont_wrap ul {
        margin: 1% auto 0 auto;
        width: 45%;
    }

    .cont_img {
        height: 18vh;
    }

    /*스크롤탑*/
    #btn_top {
        font-size: 22vw;
        animation: none;
        bottom: 4%;
    }

    /*이력서다운받기 버튼*/
    .cta {
        left: 28%;
    }

    /*타이핑텍스트*/
    .redtxt {
        margin-top: 7%;
        font-size: 2vw;
    }



}

/*태블릿-아이패드*/
@media only screen and (max-width:820px) {

    /*홈영역*/
    header svg {
        width: 5vw;
    }
    .tit_wrap{
        height: 102vh;
    }

    /*어바웃영역************/

.info_tit {
    width: 82%;
    font-size: 2vw;
    letter-spacing: 2px;
}

    .infobox p{
        font-size: 1.5vw;
    }

    /*스킬영역**********/
    #skill_wrap{
        flex-direction: column;
        justify-content: flex-start;
    }
    .skill_box{
        height: 6vh;
        margin-bottom: 10%;
    }
    .skill_desc {
    font-size: 2vw;
}
    .left_wrap{
        padding-right: 0;
    }
    .right_wrap{
        display: flex;
    flex-direction: column;
    }
    .skill_title h3 {
    font-size: 5vw;
        margin-bottom: 5%;
}
    .skill_list ul li img {
    width: 7vw;
}

    /*포트폴리오 영역**********/



    /*컨텍트영역****************/





}

/*모바일-아이폰X*/
@media only screen and (max-width:480px) {

    /*홈영역*/
    header svg {
        width: 8vw;
    }

    .icon_star svg {
        width: 2vw;
    }

    .double-circles {
        width: 8vw;
    }
    
    .tit_wrap {
    height: 13vh;
}

    /*어바웃영역************/

   
    /*스킬영역*************/


    /*포트폴리오영역*************/




    /*컨텍트영역********/
    .cont_img {
        height: 100px;
        margin-bottom: 5%;
    }


    .cont_wrap ul {
        width: 50%;
        margin: 0 auto;
    }

    .cont_img p {
        font-size: 22px;
    }

    .cont_wrap ul {
        font-size: 12px;
        padding: 16px 0;
    }

    .redtxt {
        position: static;
        padding-top: 16%;
        font-size: 10px;
    }

    .dbtn {
        padding-left: 20%;
    }

    .cta span {
        font-size: 12px;
    }

    .cta::before {
        width: 35px;
        height: 35px;
        top: 11px;
    }

    #btn_top {
        background-size: 50%;
        bottom: -63%;
        right: -10%;
    }



}
