@charset "utf-8";
/*   CGV PJ 인트로페이지 CSS - intro.css   */

/*웹폰트(CDN) - audiowide*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/*font-family: 'Audiowide', cursive;*/

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;/*자식요소 % 높이값 기준*/
}

/*가상요소로 반투명 배경 깔기*/
body::after{
    content:"";
    display: block;
    /*div태그를 넣은 것 같아...*/
    position: absolute;
    /*나의 부모? body*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*사방으로 당겨서 꽉 채우기*/
    background: #000;
    opacity: .5;
}
/*

    오버레이효과(overlay)효과 - 검은색반투명처리
    트랜스페런트(transparent)효과 - 흰생반투명

*/

/*비디오설정*/
#muvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*
        object-fill
        비디오객체 채우기 방식설정
        1. cover - 비율유지 꽉채우기(빈공간 없음)
        2. fill - 비디오 화면채우기(비율유지없음, 빈공간 없음)
        3. contain - 비율유지 일반채우기(빈공간있음-기본값)
    */
}

/*엔터버튼*/
#enter{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*
    
    앱솔루트로 정중앙오게하기!
    top,left 값을 50%
    transform: translate(-50%,-50%)
    
    [ 앱솔루트 특징 종합 ]
    1. 아이언맨 처럼 공중에 뜬다(아래요소가 모른다!)
    2. 위치값 주기전엔 젠틀하다(위의요소나 부모요소 존중)
    3. 위치값을 쓰면 부모를 찾는다
    4. 크기를 안주면 static한 내부요소에 달라붙는다(스타킹!)
    
    */
    /*outline: 10px dotted lime;*/
    z-index: 1;
}

/*들어가기 글자 셋팅*/
#enter a{
    color: #fff;
    text-decoration: none;
    
}
#enter span{
    display: block;
    text-align: center;
    /*font: 스두크/출제;*/
    font: bold 34px/40px 'Audiowide', cursive;
    transition: all .4s ease-out .2s;
    /*
        transition: 속성값 시간 이징 지연;(속시이지)
    */
}
#enter:hover span{
    transform: scale(2);
    color: chartreuse;
    
}

/*이미지 트랜지션 주기*/
#enter img{
    transition: all .4s ease-out;
}
/*엔터박스에 오버시 이미지 회전하며 커지기*/
#enter:hover img{
    transform:scale(1.5) rotate(-15deg);
}


